:is(.light, .light-theme), :is(.light, .light-theme) :where(.radix-themes:not(.dark, .dark-theme)) {
    --color-background: white !important;
}

.light body {
    background: white !important;/* viewport bg color */
}

:is(.dark, .dark-theme), :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #101211 !important;
	--background: 120 5.9% 6.67% !important;
}

.dark body {
    background: #101211 !important;/* viewport bg color */
}
